<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Jenis Biaya</h1>
    <a href="{% url 'create_jenisbiaya' %}"><button>Create</button></a>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Jenis Biaya</th>
                <th>Action</th>
            </tr>
        </thead>
        {% for item in biayaobj %}
        <tbody>
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{item}}</td>
                <td>
                    <a href="{% url 'update_jenisbiaya' item.idjenisbiaya %}"><button>Update</button></a>

                    <a href="{% url 'delete_jenisbiaya' item.idjenisbiaya %}"><Button>Delete</Button></a>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</body>
</html>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}