<!DOCTYPE html>
<html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @page{
            size: 'A4';
            margin: 2.5cm 1.5cm 3.5cm 1.5cm;
        }
        table, td, th {
            border: 1px solid;
            text-align: center;
            }
        table {
            width: 100%;
            border-collapse: collapse;
            }
    </style>
</head>
<body>

    <h1>Laporan Laba Rugi</h1>
    <h3 style="text-align: center;">Bulan {{month}} </h3>
    <table>
        <tr>
            <th>Pendapatan</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td align="left">Penjualan</td>
            <td>Rp. {{ pendapatan_awal }}</td>
            <td></td>
        </tr>
        <tr>
            <td align="left">Pendapatan Lain</td>
            <td>Rp. 0 </td>
            <td></td>
        </tr>
        <tr>
            <td align="right">Total Pendapatan</td>
            <td></td>
            <td>Rp. {{ pendapatan_awal }}</td>
        </tr>
        <tr>
            <th 
             align="left">Harga Pokok Produksi</th>
            <td ></td>
            <td >Rp{{hpproduksi}}</td>
        </tr>
        <tr>
            <td align="left">Harga Pokok Penjualan</td>
            <td></td>
            <td>Rp. {{ hppenjualan }}</td>
        </tr>
        <tr>
            <td align="left">Laba/Rugi Kotor</td>
            <td></td>
            <td>Rp. {{ laba_kotor }}</td>
        </tr>
        <tr></tr>
        <tr>
            <th>Beban Usaha</th>
            <th></th>
            <th></th>
        </tr>
        
        {% for key,value in dictbbu.items %}
        <tr>
            <td >{{key}}</td>
            <td >Rp{{value}}</td>
            <td ></td>
        </tr>
        {% endfor %}
        <tr>
            <th align="left">Total Biaya</th>
            <td></td>
            <td>Rp. {{ bbufix }}</td>
        </tr>

        <tr>
            <th align="left">Laba Sebelum Pajak</th>
            <td></td>
            <td>Rp. {{ laba_kotor }}</td>
        </tr>
        <tr>
            <th align="left">Pajak Penghasilan</th>
            <td>Rp. {{ pajak_penghasilan }}</td>
            <td></td>
        </tr>
        <tr>
            <th align="left">Laba Bersih</th>
            <td></td>
            <td>Rp. {{ pendapatan_bersih }}</td>
        </tr>
    </table>

</body>

</html>
